:root{
    --main-color: #EE7D01;
    --main-grey: #443B3A;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    color: var(--main-grey);
}

.nav-link.active{
    color: var(--main-color) !important;
    font-weight: bold;
}

.carousel-inner_overlay, .blog-inner_overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-grey);
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.blog-card{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.blog-card:hover{
    transform: scale(1.05);
}

.blog-card li{
    color: var(--main-color);
}

.blog-card:hover .blog-inner_overlay{
    opacity: 0;
}

.carousel-caption{
    position: absolute; 
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    /* transform: translateY(-50%); */
    z-index: 10;
}

.carousel-caption h5{
    font-size: 5rem;
    margin: 2rem;
}

.cta-button{
    padding: .5rem 1.5rem;
    margin: .5rem 0 .5rem 0;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 200ms ease-in 100ms;
    background-color: rgba(255, 255, 255, .7);
}

.cta-button:hover, .cta-button:active{
    background-color: var(--main-color);
    color: white;
    /* font-size: 1.3rem;
    font-weight: 600 !important; */
    transform: scale(1.05);
    box-shadow: 2px 2px 10px var(--main-grey);
}

.menu-secondary a{
    text-decoration: none;
}

.menu-secondary h2{
    color: white;
    /* transition: all ease 200ms; */
}

/* .menu-secondary:hover h2{
    color: var(--main-color);
} */

.menu-secondary_title{
    background-color: var(--main-grey);
}

.menu-secondary_title h1{
    color: white;
}

.menu-secondary_univers{
    background-color: var(--main-grey);
    opacity: 0.8;
    transition: all ease-out 400ms;
}

.menu-secondary_univers:hover{
    transform: scale(1.05);
    box-shadow: 0 24px 40px -24px rgba(42, 52, 61, .4);
}

.menu-secondary col{
    min-height: 500px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
}

.feature-icon img{
    width: 2em;
}

.carousel-services{
    max-height: 300px;
    overflow: hidden;
}

.chauffage-banner{
    background: url(./img/Tulikivi_Soapstone_Hotel_Isosyote_fireplace.jpg) center / cover fixed;
    position: relative;
}

.chauffage-banner-title{
    color: #EE7D01;
    position: inherit;
    z-index: 10;
}

.chauffage-banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
    color: var(--main-color);
}

@media (min-width: 1440px) {
    .carousel-control-prev-icon, .carousel-control-next-icon{
        display: block;
        
    }
}

.carousel-control-prev, .carousel-control-next{
    z-index: 10;
}

#story h1, #story h2, #story h3, #contact h2{
    color: var(--main-color);
}

/* .bg-philo{
    background-color: rgba(68,59,58, .8);
    color: var(--main-color);
} */

.feature-icon{
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    padding: 1rem;
}

/* #contact{
    background-color: rgba(68,59,58, .5);
} */

footer{
    background-color: var(--main-grey);
    color: white;
}

footer .nav-item a{
    color: var(--main-color);
}

.socials-icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-icon:hover{
    background-color: white;
}

.socials .socials-icon a{
    display: block;
    font-size: 2rem;
    
    color: var(--main-grey) !important;
    
}

.services-list{
    color: var(--main-color);
    font-weight: bold;
    font-size: large;
    margin: 2rem;
}

.services-list li{
    margin-bottom: 1rem;
}

.swiper-slide {
    color: white !important;
    height: 300px !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.swiper-slide:hover {
    box-shadow: 0 24px 40px -24px rgba(42, 52, 61, .4);
}

.swiper-slide img:not(.fire-icon) {
    object-fit: cover !important;
    min-height: 300px !important;
}

.swiper-slide .slider_second-content {
    position: absolute;
    bottom: -300px;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease-out 200ms;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.swiper-slide:hover .slider_second-content {
    transform: translateY(-300px);
    opacity: 1;
}

#navbarSupportedContent a {
	position: relative;
    font-size: larger;
}

#navbarSupportedContent a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--main-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbarSupportedContent a:hover:after { 
  width: 100%; 
  left: 0; 
}

#navbarSupportedContent button:hover{
    color: var(--main-color);
}

.fire-icon{
    max-width: 150px;
}

.news-title{
    color: var(--main-color)
}

/* .blog-bg{
    background-color: rgba(68,59,58, .8);
} */

.gradient{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(68,59,58,1) 50%);
}

#blog .card{
    height: 350px;
    border: none;
}

#blog .card:hover .btn-suite{
    background-color: var(--main-color);
    color: white;
}

.btn-suite:hover{
    background-color: var(--main-color);
    color: white;
}

#blog a:not(.btn){
    text-decoration: none;
    color: white;
}

.fire-effect:hover{
    animation: fire-effect 3000ms cubic-bezier(.4, 0, .6, 1) 0ms infinite normal both;
    cursor: pointer;
}

@keyframes fire-effect {
    20%{
        opacity: 0.6;
    }
    30%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.4;
    }
    55%{
        opacity:0.6;
    }
    60%{
        opacity: 0.4;
    }
    65%{
        opacity:0.6;
    }
    75%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.7;
    }
}

.bg-philo{
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,125,1,1) 50%, rgba(238,125,1,1) 50%, rgba(255,255,255,1) 100%);  */
    background-color: var(--main-color);
    border-radius: 10px;
}

h2.featurette-heading, .text-body-emphasis{
    color: var(--main-grey) !important;
}

.fa-beat-fade {
    
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.4,0,.6,1));
}

.cta-button:hover .beat-fade{
    animation: beat-fade 1000ms cubic-bezier(.4, 0, .6, 1) 0ms infinite normal both;
}

@keyframes beat-fade {
    0%, 100% {
        opacity: var(--fa-beat-fade-opacity,.4);
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(var(--fa-beat-fade-scale,1.125));
    }
}

footer li a.nav-link:hover, footer li a.nav-link:active{
    color: white;
}