@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color: #EE7D01;
    --main-grey: #443B3A;
}



*{
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

*:focus-visible{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(238, 125, 1, 0.25) !important; 
}

body{
    color: var(--main-grey);
}

a{
    text-decoration: none;
    color: var(--main-color);
}

/* a:hover, a:active, a:focus{
    text-decoration: underline wavy;
} */

.nav-link.active{
    color: var(--main-color) !important;
    font-weight: bold;
}

.main-carousel{
    mask: linear-gradient(180deg, white 60%, transparent 100%);
    height: 300px;
}

.main-carousel img{
    top: -50%;
    height: 300px;
    min-width: 100%;
}

.carousel-inner_overlay, .blog-inner_overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-grey);
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.blog-card{
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.blog-card:hover{
    transform: scale(1.05);
}

.blog-card li{
    color: var(--main-color);
}

.blog-card:hover .blog-inner_overlay{
    opacity: 0;
}

.carousel-caption{
    position: absolute; 
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    /* transform: translateY(-50%); */
    z-index: 10;
}

.carousel-caption h5{
    font-size: 5rem;
    margin: 2rem;
}

.cta-button{
    padding: .5rem 1.5rem;
    margin: .5rem 0 .5rem 0;
    color: var(--main-color);
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid white;
    transition: all 200ms ease-in 100ms;
    background-color: rgba(255, 255, 255, .7);
}

.cta-button:hover, .cta-button:active{
    background-color: var(--main-color);
    color: white;
    /* font-size: 1.3rem;
    font-weight: 600 !important; */
    transform: scale(1.05);
    box-shadow: 2px 2px 10px var(--main-grey);
}

.menu-secondary a{
    text-decoration: none;
}

/* .menu-secondary h2{
    color: white;
    transition: all ease 200ms;
} */

/* .menu-secondary:hover h2{
    color: var(--main-color);
} */

.menu-secondary_title{
    background-color: var(--main-grey);
}

.menu-secondary_title h1{
    color: white;
    color: #EE7D01;
}

.menu-secondary_univers{
    background-color: var(--main-grey);
    opacity: 0.8;
    transition: all ease-out 400ms;
}

.menu-secondary_univers:hover, .menu-secondary_univers:focus, .menu-secondary_univers:active{
    transform: scale(1.05);
    box-shadow: 0 24px 40px -24px rgba(42, 52, 61, .4);
}

.menu-secondary col{
    min-height: 500px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
}

.feature-icon img{
    width: 2em;
}

.carousel-services{
    max-height: 300px;
    overflow: hidden;
}

.chauffage-banner{
    background: linear-gradient(
        to bottom,
        rgba(68,59,58, 0.6),
        rgba(68,59,58, 1)), url(./img/petro-1.jpg);
    background-position: center center;
    background-size: 100%;
    /* background-attachment: fixed; */
}

.chauffage-banner-title{
    color: #EE7D01;
    position: inherit;
    z-index: 10;
}

.chauffage-banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ee7d01'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ee7d01'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

/* @media (min-width: 1440px) {
    .carousel-control-prev-icon, .carousel-control-next-icon{
        display: block;
        
    }
} */

.carousel-control-prev, .carousel-control-next{
    z-index: 10;
}

#story{
    scroll-margin-top: 100px;
}

#story h1, #story h2, #story h3, #contact h2{
    color: var(--main-color);
}

/* .bg-philo{
    background-color: rgba(68,59,58, .8);
    color: var(--main-color);
} */

.feature-icon{
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    padding: 1rem;
}

/* #contact{
    background-color: rgba(68,59,58, .5);
} */

.devis-contact{
    background-color: var(--main-grey);
}

footer{
    background-color: var(--main-grey);
    color: white;
}

footer .nav-item a{
    color: var(--main-color);
}

.socials-icon{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-icon:hover{
    background-color: white;
}

.socials .socials-icon a{
    display: block;
    font-size: 2rem;
    
    color: var(--main-grey) !important;
    
}

.services-list{
    color: var(--main-color);
    font-weight: bold;
    font-size: large;
    margin: 2rem;
}

.services-list li{
    margin-bottom: 1rem;
}

.swiper-slide {
    color: white !important;
    height: 300px !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.swiper-slide:hover {
    box-shadow: 0 24px 40px -24px rgba(42, 52, 61, .4);
}

.swiper-slide img:not(.fire-icon) {
    object-fit: cover !important;
    min-height: 300px !important;
}

.swiper-slide .slider_second-content {
    position: absolute;
    bottom: -300px;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease-out 200ms;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.swiper-slide:hover .slider_second-content {
    transform: translateY(-300px);
    opacity: 1;
}

#navbarSupportedContent a {
	position: relative;
    font-size: larger;
}

#navbarSupportedContent a:not(.btn):after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--main-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#navbarSupportedContent a:hover:after { 
  width: 100%; 
  left: 0; 
}

#navbarSupportedContent button:hover{
    color: var(--main-color);
}

.fire-icon{
    max-width: 150px;
}

.news-title{
    color: var(--main-color)
}

/* .blog-bg{
    background-color: rgba(68,59,58, .8);
} */

.gradient{
    /*background: rgb(255,255,255);*/
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(68,59,58,1) 50%);
}

#blog .card{
    height: 350px;
    border: none;
}

#blog .card:hover .btn-suite{
    background-color: var(--main-color);
    color: white;
}

.btn-suite:hover{
    background-color: var(--main-color);
    color: white;
}

#blog a:not(.btn){
    text-decoration: none;
    color: white;
}

.fire-effect:hover{
    animation: fire-effect 3000ms cubic-bezier(.4, 0, .6, 1) 0ms infinite normal both;
    cursor: pointer;
}

@keyframes fire-effect {
    20%{
        opacity: 0.6;
    }
    30%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.4;
    }
    55%{
        opacity:0.6;
    }
    60%{
        opacity: 0.4;
    }
    65%{
        opacity:0.6;
    }
    75%{
        opacity: 0.4;
    }
    80%{
        opacity: 0.7;
    }
}

.bg-philo{
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,125,1,1) 50%, rgba(238,125,1,1) 50%, rgba(255,255,255,1) 100%);  */
    background-color: var(--main-color);
    /*border-radius: 10px;*/
}

h2.featurette-heading, .text-body-emphasis{
    color: var(--main-grey) !important;
}

.fa-beat-fade {
    
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.4,0,.6,1));
}

.cta-button:hover .beat-fade{
    animation: beat-fade 1000ms cubic-bezier(.4, 0, .6, 1) 0ms infinite normal both;
}

@keyframes beat-fade {
    0%, 100% {
        opacity: var(--fa-beat-fade-opacity,.4);
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(var(--fa-beat-fade-scale,1.125));
    }
}

footer li a.nav-link:hover, footer li a.nav-link:active{
    color: white;
}

.product-plus{
    color: var(--main-color);
    border: 1px #EE7D01 solid;
}

.page-link{
    color: var(--main-color);
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgba(238, 125, 1, 0.25);
}

a.page-link:hover, a.page-link:focus{
    color: black;
}

.category-menu_img{
    filter: blur(1px);
}

.menu-secondary_univers.category-menu:hover, .menu-secondary_univers.category-menu:active, .menu-secondary_univers.category-menu:focus{
    opacity: 1;
}

.menu-secondary_univers.category-menu h2{
    transition: color 300ms ease 0s;
}

.menu-secondary_univers.category-menu:hover h2, .menu-secondary_univers.category-menu:active h2, .menu-secondary_univers.category-menu:focus h2{
    color: var(--main-color);
}

.menu-secondary_univers.category-menu:hover img, .menu-secondary_univers.category-menu:active img, .menu-secondary_univers.category-menu:focus img{
    filter: none;
}

.product-menu{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.btn-group {
    margin: 0 auto;
    width: 100%;
}

.btn-outline-primary{
    color: var(--main-color);
    border: 1px var(--main-color) solid;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:active, .btn.btn-outline-primary:focus{
    color: white;
    background-color: var(--main-color);
    border: 1px var(--main-color) solid;
}

/* .product-carousel{
    max-height: 400px;
} */

.accordion-item{
    border: none;
}

.carousel-indicators [data-bs-target]{
    background-color: #EE7D01;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.carousel-indicators [data-bs-target]:focus-visible{
    background-color: white;
}

#carouselProductIndicators{
    height: fit-content;
}
#carouselProductIndicators .carousel-inner{
    border-radius: 0.5rem;
}

#collapseTechnic li span {
    font-weight: bold;
}

#collapseDimensions {
    text-align: center;
}
#collapseDimensions .btn-outline-primary{
    color: white;
    background-color: var(--main-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.disabled>.page-link{
    background-color: rgba(68,59,58, 0.3);
    border-color: rgba(68,59,58, 0.3) ;
}

.page-link{
    border-color: rgba(68,59,58, 0.3) ;
}

@media (min-width: 1050px) {
    .modal-dialog {
        max-width: 1000px;
    }
}


.btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ee7d01'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center / 1em auto no-repeat;
}

.btn-close:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(238, 125, 1, 0.25) !important; 
}

footer .nav-item a:focus-visible {
    color: white;
}

.btn:focus-visible {
    color: var(--main-color);
}

.footer-picture{
    background: linear-gradient(180deg, rgba(68,59,58,1) 0%, rgba(68,59,58,0) 50%, rgba(68,59,58,1) 100%), url(./img/Tulikivi_Karelia_Raita_Satin_White_takka_fireplace_olohuone_livingroom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

@media screen and (min-width: 768px){
    .main-carousel{
        height: 700px;
    }
    
    .main-carousel img{
        height: 700px;
    }
}

@media screen and (min-width: 1200px){
    .main-carousel{
        height: 1000px;
    }
    
    .main-carousel img{
        height: 1000px;
    }
}